<!-- <router-outlet /> -->
<!-- layout general como cabecera que se repetira en todas las paginas -->
<!-- <nav>
  <a routerLink="/home">Restaurant</a>
  <a routerLink="/menu">Menu</a>
  <h1>Hola desde app.component</h1>
</nav>

<router-outlet></router-outlet> -->
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div>
  <p>********************</p>
  <p>Titulo de???</p>
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>
  <p>Hola desde app.component</p>
  <p>********************</p>
</div>

<app-footer></app-footer>

