<!DOCTYPE html>
<html>
<head>
    <title>Pollería</title>
</head>
<body>
    <h1>Bienvenidos a nuestra Pollería</h1>
    <h2>Pollos</h2>
    <ul>
        {% for pollo in pollos %}
        <li>
            <a href="{% url 'detalle_producto' pollo.codigo 'pollo' %}">{{ pollo.parte }} - {{ pollo.cantidad }} unidades - ${{ pollo.precio }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Bebidas</h2>
    <ul>
        {% for bebida in bebidas %}
        <li>
            <a href="{% url 'detalle_producto' bebida.codigo 'bebida' %}">{{ bebida.tipo }} - {{ bebida.cantidad }} unidades - ${{ bebida.precio }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Papas</h2>
    <ul>
        {% for papa in papas %}
        <li>
            <a href="{% url 'detalle_producto' papa.codigo 'papa' %}">{{ papa.porcion }} - ${{ papa.precio }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Subir Datos</h2>
    <ul>
        <li><a href="{% url 'crear_pollo' %}">Crear Pollo</a></li>
        <li><a href="{% url 'crear_bebida' %}">Crear Bebida</a></li>
        <li><a href="{% url 'crear_crema' %}">Crear Crema</a></li>
        <li><a href="{% url 'crear_papa' %}">Crear Papa</a></li>
    </ul>
</body>
</html>