/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #39201F;
    --secondary-color: #EB4E20;
    --accent-color: #FDF4E9;
  }

body {
    margin: 0;
    padding: 0;
    
}