<nav class="navbar">
  <div class="logo">
    <!-- Aquí puedes agregar el logo de tu sitio web -->
    <a routerLink="/home"><img src="/assets/barbeque-logo.svg" alt="Logo"></a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/menu">Menu</a></li>
    <li><a routerLink="/cart">Carta</a></li>
    <li><a routerLink="/checkout">Pago</a></li>
    <li><a routerLink="/order-confirmation">Confirmación de orden</a></li>
    <li><a routerLink="/reserve">Reservar forms</a></li>
    <li><a routerLink="/tables">lista mesas</a></li>

    <li><a routerLink="/contact-us">Contactanos</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
  </ul>
  <div class="nav-icons">
    <span class="search-icon">&#128269;</span> <!-- Aquí puedes usar un ícono de búsqueda -->
    <span class="cart-icon">&#128722;</span> <!-- Aquí puedes usar un ícono de carrito -->
  </div>
</nav>
