/* :root {
    --primary-color: #39201f;
    --secondary-color: #EB4E20;
    --accent-color: #FDF4E9;
  } */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
  }
  
  .nav-links li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
  }
  
  .nav-icons {
    display: flex;
    gap: 15px;
  }
  
  .nav-icons span {
    color: var(--accent-color);
    font-size: 20px;
    cursor: pointer;
  }
  